@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 0.6rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: disc;
  padding-left: 1rem;
}

li {
  margin-left: 1rem;
}
