@use "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-gray: #575757;
  --opacity-70: 0.7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--dark-gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: var(--color-black);
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 0.75rem;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

h6 {
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}

a,
button {
  &:hover {
    cursor: pointer;
    opacity: var(--opacity-70);
    transition: opacity 0.2s;
  }
}

p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

ul {
  list-style-type: disc;
  padding-left: 1rem;
}

li {
  margin-left: 1rem;
}

input,
textarea,
select {
  background-color: var(--color-white);
}

.main-layout {
  header {
    border-bottom: 1px solid #e5e7eb;
    /* Tailwind gray-200 */
  }
}

.tool-list-item {
  &:hover {
    opacity: var(--opacity-70);
    transition: opacity 0.2s;
  }

  h3 {
    color: var(--color-orange-600);
  }
}

.text-orange-500 {
  color: var(--color-orange-500);
}

.pp-STE5LVWF8XS46 {
  text-align: center;
  border: none;
  border-radius: 0.25rem;
  min-width: 11.625rem;
  padding: 0 2rem;
  height: 2.625rem;
  font-weight: bold;
  background-color: #FFD140;
  color: #000000;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  cursor: pointer;
}

.blog-post-layout {
  a {
    color: var(--color-orange-500);

    &:hover {
      color: var(--color-orange-700);
    }
  }
}